<div style="background-color:white">
    <div content-for="title">
        <span>알림 설정</span>
    </div>
	<div class="panel" bs-panel>
        <div class="panel-heading">
            <h2 class="panel-title">설정</h2>
        </div>
        <div class="form-group row">
            <label class="col-xs-5 col-sm-4 col-lg-4">알림 받기</label>
            <div class="btn-group col-xs-7 col-sm-8 col-lg-8">
                <label class="btn btn-default" ng-model="config.isOn" btn-radio="'on'" uncheckable>ON</label>
                <label class="btn btn-default" ng-model="config.isOn" btn-radio="'off'" uncheckable>OFF</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-5 col-sm-4 col-lg-4">금액 설정</label>
            <div class="col-xs-7 col-sm-8 col-lg-8">
                <select class="form-control" ng-model="config.pivotMoney">
                    <option value="10000">10,000원</option>
                    <option value="15000">15,000원</option>
                    <option value="20000">20,000원</option>
                    <option value="25000">25,000원</option>
                    <option value="30000">30,000원</option>
                    <option value="35000">35,000원</option>
                    <option value="40000">40,000원</option>
                    <option value="45000">45,000원</option>
                    <option value="50000">50,000원</option>
                    <option value="55000">55,000원</option>
                </select>
            </div>
        </div>
    </div>
</div>