<div class="panel" bs-panel>
    <div class="panel-heading">
        <h2 class="panel-title">미등록 기기</h2>
    </div>
    <div class="panel-content">
    	<p class="center-content">
    		<i class="fa fa-lock large-content-icon"></i>
    	</p>
        <hr />
    	<p>
    		<p class="dialog-content">
    			등록되지 않은 기기입니다. 관리자에게 연락하여 등록하여 주시기 바랍니다.
    		</p>
    		<p class="dialog-content">
    			불편을 끼쳐드려 죄송합니다.
    		</p>
    	</p>
        <hr />
        <div>
            <span class="notice-title">session info</span>
            <pre>{{sessions.appKey}}</pre>
        </div>
    <div>
</div>
