/* styles/app.css */

.tab-content { overflow-y: hidden }
.tab-pane { overflow-y: auto;}
﻿/* styles/app.css */

/* adView */
#haa {
	color:blue;
}
.adImage {
	width: 100%;
	margin : 0px 10px 0px 10px;
	color: red;
	display: block;
	border-radius: 5px;
	margin-top : 10px;
	margin-bottom : 10px;	
}

body { 
	font-family: '맑은 고딕';
	font-size: ;
}

.panel-title {
	font-weight: bold;
	margin-left : auto;
	margin-right : auto;
	width : 100%
}

/* Taxi List Style*/
.trans_taxi .taxi_name {
	display: block;
	font-weight: bold;
	font-size: 15pt;
}

.trans_taxi .taxi_phone {
	color: white;
	font-size: 20pt;
	border-radius: 5px;
	padding: 5px 8pt;
	background-color: #2C6DD7;
}

.trans_taxi .taxi_payTitle {
	color: #000000;
	font-weight: bold;
/*	margin-left: 10px;*/
}

.trans_taxi .taxi_number {
	color: #2C6DD7;
/* 	margin-left: 10px; */
}

/* Room List Style */
.stay_room {
}
.stay_room .room_name {
	display: block;
	font-weight: bold;
	font-size: 14pt;
	margin-left : 5px;
	color: white;
}

.stay_room .badge {
	color: white; 
	background-color: #FF4256;
}

.stay_room .room_addr {
	display: block;
	font-weight: bold;
	font-size: 10pt;
	padding-left : 20px;
	color: white;
}

.stay_room .room_phone {
	color: white;
	text-align: center;
	font-size: 20pt;
	border-radius: 5px;
	padding: 0px 5pt;
	background-color: #01A1DB;
	margin-left : 5px;
	margin-top : 5px;
	margin:10px;
	padding:3px;
	padding-left:8px;
	padding-right:8px;
}

.stay_room > table {
	width: 100%;
	margin: 0px; 
	border: 0px;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

.stay_room > table img {
	width: 100%;
	margin: 0px;
}

.chooseOfferButtonContainer {
	margin: 10px;
	text-align: center;
}
.chooseOfferContainer {
	/*background-color:#191E22;*/
}
.chooseOfferTitle {
	text-align: center;
	font-size: 15px;
	padding: 20px;
	background-color:#f3f3f3;
	color: #84888B;
	margin:0px;
}

.chooseOfferTitle .region{
	font-weight: bold;
	color: #9C9C9C;
}

.chooseOfferTitle .price{
	font-weight: bold;
	color: #01A1DB;
}

.chooseOfferInfo{
	text-align: center;
	font-size: 0.9em;
	margin-top: 10px;
	/*color:#84888B;*/
}

.chooseOfferLine {
	color:#3D4246;
	margin:0px;
}
.room_background {
	background-color:#191E22;
	margin-top:10px;
	padding:0px;
}

.selectable {
	cursor: pointer;
}

.selectable:hover {
	background-color: #B1E7F2;

}

.nav-tabs>li.active
{
	border-bottom: 4px solid #1BA3D9;
	box-sizing:box;
}

.nav-tabs>li>a
{
	margin-right: 0px;
	padding: 10px 20px;
}

.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
{
	background-color: #fff;
}

.angular-google-map img{
	max-width:none
}


.hoverable>li:hover,  .hoverable>li:focus{ 
	background: #eeeeff; 
	color: black 
}

.notice {
	text-align: center;
	margin: 20px;
}

.border-bottom {
	border-bottom: 1px solid #ddd;
}

.requestItemHeader {
	font-weight: bold;
	text-align: center;
}

.requestItem {
	padding: 10px;
}

.light-gray {
	background-color: #eee
}

.map-title {
	font-size: 13pt;
	font-weight: bold;
	white-space: nowrap;
}
.map-label {
	color: #2C6DD7;
	font-weight: bold;
}

.map-value {
	white-space: nowrap;
}

.map-window {
	padding:10px;
	white-space: nowrap;
}